# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/

# Environment variables (do not commit secrets)
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs/
*.log
firebase-debug.log
firestore-debug.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# lockfiles we do not track
/frontend/package-lock.json

# Scripts for building project that we do not track
/scripts/

# API dist folder
/api/.env
api/service-account.json

#CORS
cors.json